html {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}

body {
  margin: 0;
}

#container {
  width: var(--canvas-size);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

#canvas-container {
  position: relative;
  width: var(--canvas-size);
  height: var(--canvas-size);
  border: 1px solid gray;
}

.canvas {
  position: absolute;
  width: var(--canvas-size);
  height: var(--canvas-size);
  top: 0;
  left: 0;
}

#canvas {
  z-index: 0;
}
#pointer-canvas {
  z-index: 1;
}

#draw-button {
  background-image: linear-gradient(90deg in hsl longer hue, hsl(0, 100%, 50%), hsl(365 100 50));
  /* background: -webkit-linear-gradient(to right in hsl, hsl(0 50 50), hsl(180 50 50)); */
  /* background: -moz-linear-gradient(to right in hsl, hsl(0 50 50), hsl(180 50 50)); */
  font-size: 10vw;
  user-select: none;
  width: 100%;
  height: 400px;
}
#calibrate-button {
  font-size: 10vw;
  user-select: none;
  width: 100%;
  height: 400px;
}
